.foto{ width:100% ; max-width:200px;max-height:auto; }
.cat{ width:100% ; max-width:200px; max-height:auto;}
.camp{ width:100% ; max-width:200px;max-height:auto; }
.trek{ width:100% ; max-width:200px;max-height:auto; }
.dog1{ width:100% ; max-width:200px;max-height:auto; }
.dog2{ width:100% ; max-width:200px;max-height:auto; }
.book{ width:100% ; max-width:300px;max-height:auto; }
.ank1{ width:100% ; max-width:200px;max-height:auto; }
.ank2{ width:100% ; max-width:200px;max-height:auto; }
.hamam{ width:100% ; max-width:200px;max-height:auto; }
.anıt{ width:100% ; max-width:200px; max-height:auto;}
.kale{ width:100% ; max-width:200px; max-height:auto;}
.koru{ width:100% ; max-width:200px;max-height:auto; }
.beypazarı{ width:100% ; max-width:150px; max-height:auto;}
.simit{ width:100% ; max-width:150px;max-height:auto; }
