.foto{ width:100% ; max-width:200px; }
.cat{ width:100% ; max-width:200px; }
.camp{ width:100% ; max-width:200px; }
.trek{ width:100% ; max-width:200px; }
.dog1{ width:100% ; max-width:200px; }
.dog2{ width:100% ; max-width:200px; }
.book{ width:100% ; max-width:300px; }
.ank1{ width:100% ; max-width:200px; }
.ank2{ width:100% ; max-width:200px; max-height:"150"; }
.hamam{ width:100% ; max-width:200px; max-height:"50"; }
.anıt{ width:100% ; max-width:200px; }
.kale{ width:100% ; max-width:200px; }
.koru{ width:100% ; max-width:200px; }
.beypazarı{ width:100% ; max-width:150px; }
.simit{ width:100% ; max-width:150px; }
