.foto{ width:100% ; max-width:300px; }
.cat{ width:100% ; max-width:300px; }
.camp{ width:100% ; max-width:300px; }
.trek{ width:100% ; max-width:300px; }
.dog1{ width:100% ; max-width:300px; }
.dog2{ width:100% ; max-width:300px; }
.book{ width:100% ; max-width:300px; }
